<!-- <script src="./scripts/vendor/marquee/Marquee.js"></script>
<script src="./scripts/vendor/jqueryRotate/jQueryRotate.2.2.js"></script>
<script src="./scripts/vendor/jqueryRotate/jquery.easing.min.js"></script> -->
<link href="./vendor/icheck/square/green.css" rel="stylesheet">
<script src="./vendor/icheck/icheck.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a, img {
        border: 0;
    }
    html, body{ margin:0; height:100%; }
    #marquee2 {
        width: 162px;
        height: 324px;
        overflow: hidden;
    }

    #marquee2 ul li {
        height: 150px;
    }

    #marquee2 ul li img {
        display: block;
    }
    .prints{
        display: none;
    }
    @media print{
        .tqgptop{
            display: none;
        }
        .btngroup{
            display: none;
        }
        .wygltb{
            display: none;
        }
        .prints{
            display: block;
        }
        .prtitle{
            width: 96%;
            height: 8%;
            line-height: 200%;
            text-align: center;
            font-weight: bold;
            /*font-style: 40px;*/
        }
        .prints table td{
            border-style: solid;
            border-width:  1px;
            border-color:#217A8A ;
            height: 30px;
            line-height: 30px;
            color:#FEFDFB ;
        }
    }
    .col-md-6{
        width: 80%;
    }
    .col-md-4{
        width: 21%;
    }
    #heji{
        width: 28%;
    }
    #border_b{
        height: 92%;
    }
    html {
        overflow-y: auto;
    }
    body {
        margin: 0 !important;
    }
    .container-fluid {
        padding: 0;
    }
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    /*::-webkit-scrollbar:vertical
    {
        width: 0px;
        height: 0px;
    }*/
    ::-webkit-scrollbar
    {
        width: 10px;
        height: 10px;
        background-color: rgba(0,0,0,0);
    }
    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
        border-radius: 10px;
        background-color: rgba(0,0,0,0);
    }
    ::-webkit-scrollbar-track:hover
    {
        -webkit-box-shadow: inset 0 0 1px rgba(239,239,239,239);
        border-radius: 10px;
        background-color: rgba(239,239,239,239);
    }
    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #dfe6ec;
    }


</style>
<!-- 登录页面 -->
<div ng-show="!loginflag" style="padding: 260px 30%;text-align: center;height: 115%;position: absolute;z-index: 99999; background: #fff;">
    <form class="bs-example bs-example-form" role="form">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="用户名" ng-model="user" id="user">
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="password" class="form-control" placeholder="密码" ng-model="psw" id="psw">
        </div>
        <br>

        <div class="btn btn-default" ng-click="login()">
            登录
        </div>
    </form>
</div>
<!-- 主界面 -->
<title>物业公司运营桌面</title>
<div class="hpt pcm edus stu edu" ng-controller="RenlifenxiCtrl">
    <!-- 对内版 -->
    <!--全屏-->
    <div class="duineiban">
        <div class="tqgptop tpbg pcmtop"  >
            <div class="left rqwztq">
                <div style="width:100%;height:25%;"></div>
                <div style="width:100%;height:75%;">
                    <div class="left tqimg">
                        <div style="width:100%;height:25%;"></div>
                        <div class="tqimgdiv_stu"></div>
                    </div>
                    <div class="left topleft">
                        <div style="width:100%;height:20%;"></div>
                        <div class="toprq">
                            <span style="padding-right:1.4rem;" ng-bind="rq"></span><span ng-bind="day"></span>
                        </div>
                        <div class="toprq">
                            <span style="padding-right:1.4rem;"><span id="address1"></span></span><span
                                style="padding-right:1.4rem;" id="ssd"></span><span id="tqzk"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right gphq">
                <div class="cancel" style="height:30%;"><a ng-click="cancel()" href="">注销</a></div>
                <div style="width:100%;height:25%;"></div>
                <div class="pcmgp" style="">
                    <div class="gudiv">
                        <span>博实乐教育股票实时行情</span>
                    </div>
                    <div class="gudiv">
                        <span style="padding-right:0.7rem;">今开：<span ng-bind="openprice"></span></span><span>最高：<span
                            ng-bind="maxprice"></span></span>
                    </div>
                    <div class="gudiv">
                        <span style="padding-right:0.7rem;" class="lefts">当前价：<span ng-bind="currentprice"></span></span><span>成交量：<span ng-bind="volume"></span>万股</span>
                    </div>
                </div>
            </div>
            <div class="center_bg Renli_title"></div>
        </div>
        <div class="btngroup">
            <!-- <div class="btn1 btnss"  ng-click="print()"><img src="./assets/images/wygs/003.png">打印</div>
            <div class="btn2 btnss"  ng-click="exportWYTable()"><img src="./assets/images/wygs/002.png">导出</div> -->
            <div class="btn3 btnss back"  ng-click="gobacks()">&lt;&nbsp;返回</div>
        </div>
        <div class="col-md-6" style="margin-left:3%;">
            <div class="row">
                <div>
                    <label class="checkboxfs" style="width: 15%;float: left">
                        <select id="area" style="background-color: #101846">
                            <option >全部区域</option>
                            <option ng-repeat="item in tbarea">{{item.qy}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label class="checkboxfs" >
                        <input id="international" class="checkboxinput" type="checkbox" checked>
                        <!-- 国际学校（<span>{{tbschool0}}</span>） -->
                        国际学校（<span>100</span>）
                    </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label class="checkboxfs">
                        <input id="Bilingual" class="checkboxinput" type="checkbox" checked>
                        <!-- 双语学校（<span>{{tbschool1}}</span>） -->
                        双语学校（<span>100</span>）
                    </label>
                </div>
                <div class="col-md-4 col-sm-4">
                    <label class="checkboxfs">
                        <input id="Kindergarten" class="checkboxinput" type="checkbox" checked>
                        <!-- 幼儿园（<span>{{tbschool2}}</span>） -->
                        幼儿园（<span>100</span>）
                    </label>
                </div>

            </div>
        </div>
        <div class="wygltb">
            <div class="table-head">
                <table >
                    <colgroup><col style="width: 80px;" /><col /></colgroup>
                    <tr>
                        <td class="wd_20" style="width:20%;">学校</td>
                        <td class="wd_5">区域</td>
                        <td class="wd_5 cursors" ng-click="descx(1,px1,tbdata)">教职工数量<span ng-if="show1"><span  ng-if="px1">   ↓</span><span  ng-if="!px1">   ↑</span></span></td>
                        <td class="wd_5 cursors" ng-click="descx(2,px2,tbdata)">教师数量<span ng-if="show2"><span  ng-if="px2">   ↓</span><span  ng-if="!px2">   ↑</span></span></td>
                        <td class="wd_5 cursors" ng-click="descx(3,px3,tbdata)">教师学生比例<span ng-if="show3"><span  ng-if="px3">   ↓</span><span  ng-if="!px3">   ↑</span></span></td>
                    </tr>
                </table>
            </div>
            <div class="table-body " id="border_b">
                <table>
                    <colgroup><col style="width: 80px;" /><col /></colgroup>
                    <tr ng-repeat=" items in  tbdata">
                        <td class="wd_20" style="width:20%;">{{items.xx}}</td>
                        <td class="wd_5">{{items.qy}}</td>
                        <td class="wd_5">{{items.jzgsl}}</td>
                        <td class="wd_5">{{items.jssl}}</td>
                        <td class="wd_5">1:{{items.jsxsbl}}</td>
                    </tr>
                    <tr>
                        <td colspan='2'>{{heji.xx}}</td>
                        <!--<td class="wd_5" style="display: none">{{heji.qy}}</td>-->
                        <td class="wd_5">{{heji.jzgsl}}</td>
                        <td class="wd_5">{{heji.jssl}}</td>
                        <td class="wd_5">1:2</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
